{% extends 'paginate.html' %} {% block content %}
<div>
    <a href="{% url 'meal_plan_new' %}">create</a>
</div>
<main class="recipe-grid">
    {% for mealplan in meal_plan_list %}
        <div class="recipe-card">
            <h2 class="recipe-card-title">
                <a href="{% url 'meal_plan_detail' mealplan.id %}">{{ mealplan.name }}</a> # look at url
            </h2>
            {% for recipe in mealplan.recipes.all %}
                <p>
                    <a href="{%  url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
                </p>
            {% endfor %}
        </div>
        {% empty %}
        <div>
            <h1> No meals planned yet</h1>
            <p>
                Want to 
                <a href="{% url 'meal_plan_new' %}">add</a>
                a new one?
            </p>
        </div>
    {% endfor %}
</main>
{% endblock content %}
    if no meal plans exist show that message 